.course-list-page {
	.ant-card-body {
		padding-top: 10px;
	}
}
.course-list-content {
	.ant-list-item {
		align-items: baseline;
	}
	.ant-list-item-meta {
		flex-wrap: wrap;
	}
	.ant-list-item-meta-avatar {
		width: 100px;
		margin-top: 6px;
	}
	.ant-list-item-meta-title {
		width: calc(100% - 100px);
		font-size: 17px;
		a {
			color: $primary-color;
		}
	}
	.content-body {
		.list-ver {
			list-style-type: none;
			padding-left: 0;
			li {
				display: flex;
				align-items: center;
				color: #505050;
				span:first-child {
					min-width: 78px;
					margin-right: 15px;
					font-weight: 500;
				}
			}
		}

		.list-hor {
			margin-top: 5px;
			padding-left: 0;
			li {
				display: inline-block;
				color: #505050;
				margin-right: 20px;
				font-size: 12px;
			}
		}
	}
	@include max-media(599px) {
		.ant-list-item-meta-avatar {
			width: 100%;
			margin-top: 0;
			margin-bottom: 6px;
			.tag {
				margin-left: 0;
			}
		}
		.ant-list-item-meta-title {
			width: 100%;
		}
	}
}

.course-list-self-detail {
	.detail-title {
		font-size: 12px;
		color: $primary-color;
	}
}
.list-menu-course {
	svg {
		margin-right: 5px;
	}
}

.course-item-wrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 16px;
	gap: 16px;
	width: 997px;
	height: 272px;
	mix-blend-mode: normal;
	box-shadow: inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.2);
	border-radius: 10px;

	@include max-media(1400px) {
		width: 100%;
	}
	@include max-media(650px) {
		display: block;
		height: 690px;
	}
	.course-item-avatar {
		width: 240px;
		height: 240px;
		border-radius: 24px;
		position: relative;

		@include max-media(650px) {
			width: 100%;
			height: 50%;
		}
		span {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			padding: 8px 16px;
			gap: 8px;
			position: absolute;
			left: -12px;
			top: -4.17%;
			bottom: 87.5%;
			background: #4df6a5;
			border-radius: 40px;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;

			@include max-media(650px) {
				display: block;
				bottom: 91.5%;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			background: radial-gradient(106.88% 106.88% at 28.96% 14.38%, #4e5eb8 0%, #0f184a 100%);
			border-radius: 24px;
		}
	}
	.course-item-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 0px;
		width: 50%;
		height: 240px;

		@include max-media(1400px) {
			width: 66%;
		}
		@include max-media(1000px) {
			width: 66%;
		}
		@include max-media(850px) {
			width: 50%;
		}
		@include max-media(650px) {
			width: 100%;
			height: 50%;
		}
		&-name {
			font-weight: 700;
			font-size: 24px;
			line-height: 40px;
			color: $black-light;
		}
		&-tags {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			padding: 0px;
			gap: 8px;

			@include max-media(1400px) {
				display: none;
			}

			span {
				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 2px 6px;
				gap: 10px;
				background: rgba(0, 0, 0, 0.2);
				border-radius: 5px;
				font-weight: 400;
				font-size: 13px;
				line-height: 18px;
				color: $black-light;

				@include max-media(650px) {
					bottom: 94.5%;
				}
			}
		}
		&-description {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: $black-light;
		}
		&-mentor {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			padding: 0px;
			gap: 8px;
			span {
				font-weight: 700;
				font-size: 16px;
				line-height: 24px;
				color: $red;
			}
		}
		.course-item-price-inline {
			font-weight: 700;
			font-size: 24px;
			line-height: 40px;
			color: $black-light;

			display: none;
			@include max-media(1400px) {
				display: block;
			}
		}
		&-buttons {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 0px;
			gap: 8px;
		}
		&-list-user {
			position: relative;
			.middle-avatar {
				margin-left: -8px;
			}
			.last-avatar {
				margin-left: -8px;
				&::after {
					text-align: center;
					content: '...';
					color: #fff;
					line-height: 22px;
					position: absolute;
					width: 32px;
					height: 32px;
					top: 0;
					right: 0;
					background-color: #33333354;
					border-radius: 50%;
				}
			}
			.invisible-avatar {
				display: none;
			}
		}
		.in-1-line {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.in-2-line {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.in-3-line {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.in-4-line {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.course-item-price {
		font-weight: 700;
		font-size: 24px;
		line-height: 40px;
		color: $black-light;
		@include max-media(1400px) {
			display: none;
		}
	}
}

.h-135 {
	height: 135px;
}
