.tag {
	color: white !important;
	font-size: 14px;
	font-weight: 400;
	padding: 5px 16px;
	border-radius: 999px;
	margin: 2px;
	background: #0a89ff;
	display: inline-block;
	white-space: pre;

	&.green {
		background: #4df6a5;
		color: #333333 !important;
	}

	&.red {
		color: white !important;
		background: #c94a4f;
	}

	&.gray {
		background: #e8e8e8;
		color: #f0f0f0;
	}

	&.blue {
		background: #0a89ff;
	}

	&.yellow {
		background: #ffba0a;
	}

	&.black {
		background: #1d262b;
	}

	&.blue-weight {
		background: #004a6f;
	}
}
.row-tags {
	display: flex;
	justify-content: flex-start;
	.tag {
		margin-right: 10px;
	}
}
