.success-reset {
	text-align: center;
	svg {
		font-size: 35px;
		color: #0fc15e;
	}
	.success-text {
		font-size: 17px;
		color: #0fc15e;
		font-weight: 500;
		margin-top: 10px;
	}
	.move-text {
		font-style: italic;
	}
}
.wrap-reset-form {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.success-reset {
		text-align: center;
		svg {
			font-size: 35px;
			color: #0fc15e;
		}
		.success-text {
			font-size: 17px;
			color: #0fc15e;
			font-weight: 500;
			margin-top: 10px;
		}
		.move-text {
			font-style: italic;
		}
	}

	.reset-form {
		width: 700px;
		max-width: 95%;
		padding: 30px 60px;
		background: white;
		border-radius: 0.575rem;

		.btn-back {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 44px;
			height: 44px;
			background: #f0f0f0;
			border-radius: 8px;
			margin-bottom: 5vh;
			margin-top: 4vh;
			&:hover {
				background: #e3e3e3;
			}
		}

		.title {
			color: $button-color;
			font-weight: 700;
			font-size: 24px;
		}

		.ant-form-item-required {
			font-weight: 400 !important;
			font-size: 16px !important;
			line-height: 24px !important;
			color: #333333 !important;
		}

		.des {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: #333333;
		}

		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		textarea:-webkit-autofill,
		textarea:-webkit-autofill:hover,
		textarea:-webkit-autofill:focus,
		select:-webkit-autofill,
		select:-webkit-autofill:hover,
		select:-webkit-autofill:focus {
			-webkit-text-fill-color: inherit;
			-webkit-box-shadow: 0 0 0px 1000px white inset;
			transition: background-color 5000s ease-in-out 0s;
		}

		input {
			position: relative;
			display: block;
			box-sizing: border-box;
			width: 100%;
			border-radius: 0;
			border: none;
			border: 0.5px solid #ccc;
			padding: 10px 15px;
			padding-left: 0;
			margin-bottom: 10px;
			font-size: 14px;
			background-color: #f0f0f0;
			border-radius: 8px;

			&:focus {
				outline: 0;
				border: 0.5px solid #ccc;
				transition: 0.3s;
			}

			&::-webkit-input-placeholder {
				/* Edge */
				opacity: 0.5;
			}

			&:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				opacity: 0.5;
			}

			&::placeholder {
				opacity: 0.5;
			}
		}

		.inputIcon {
			position: relative;

			input {
				padding-left: 50px;
			}

			.icon {
				position: absolute;
				top: 3px;
				left: 5px;
				width: 36px;
				height: 36px;
			}
		}

		.btn-primary {
			height: 44px !important;
			font-weight: 600;
			font-size: 16px;
		}
	}
}
