.shopping__cart-header {
	height: 72px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
	background-color: #fff;
	margin: 0;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	.header__logo {
		img {
			width: 180px;
		}

		margin-left: 50px;
		@include max-media(768px) {
			margin-left: 0;
		}
	}

	.header__profile {
		padding: 0;
		.col-setting {
			.col-setting-list {
				margin-bottom: 0;
				margin-top: 0;
				height: 100%;
				padding-left: 0;
				padding-right: 24px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 24px;
				li {
					display: flex;
					align-items: center;
					list-style-type: none;
					// padding: 0 15px;
					cursor: pointer;
					height: 100%;

					@include max-media(1000px) {
						padding: 0 5px;
					}

					&:last-child {
						margin-right: 0;
						padding: 0;
					}

					&.search,
					&.notification {
						position: relative;
						.count-notification-cart {
							width: 20px;
							height: 20px;
							border-radius: 50%;
							background-color: $primary-color;
							-webkit-box-shadow: 0px 5px 20px #00000017;
							box-shadow: 0px 15px 20px rgba($color: #000000, $alpha: 0.16);
							// border: 3px solid white;
							span {
								padding: 3px;
								font-size: 11px;
								display: block;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								color: white;
								font-weight: bold;
							}
							position: absolute;
							top: -10px;
							right: -9px;
						}
						.search-icon,
						.notification-icon {
							width: 36px;
							height: 36px;
							background: #edf1f8;
							border-radius: 0.375rem;
							display: flex;
							justify-content: center;
							align-items: center;
							border: 0;
							svg {
								font-size: 18px;
								color: #989898;
							}
						}
					}

					.custom {
						line-height: 0;
						padding: 23px 20px;
						svg {
							font-size: 20px;
							color: dimgrey;
							transition: 0.3s;
						}
						&:hover {
							svg {
								color: $primary-color;
								transition: 0.3s;
							}
						}
					}
				}

				.cart {
					@include max-media(400px) {
						display:none!important;
					}
				}

				.vertical {
					height: 72px;
					width: 1px;
					background: #f0f0f0;
					padding: 0 !important;
				}

				.notification {
					position: relative;
					width: 44px;
					height: 44px;
					background: #f0f0f0;
					border-radius: 8px;
					display: flex;
					justify-content: center;
					align-items: center;

					.count-notification {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding: 2px;

						position: absolute;
						width: 22px;
						height: 22px;
						left: 22px;
						top: -16px;
						background: #c94a4f;
						border-radius: 100px;
						span {
							color: #fff;
						}
						&:nth-child(1) {
							margin-right: 24px;
						}
					}

					.notification-number {
						position: absolute;
						top: 12px;
						right: 5px;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background: #0088cc;
						color: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 11px;
						font-weight: bold;
						box-shadow: 0px 1px 10px #0088cc52;
					}

					.notification-icon i {
						font-size: 22px;
						color: #4a4a4a;
					}
				}

				.custom-wrap {
					@include max-media(1000px) {
						display: none;
					}
				}

				.user {
					cursor: pointer;
					padding-right: 0;

					.user-wrap {
						display: flex;
						align-items: center;
						padding: 0px 0;
						@include max-media(1000px) {
							padding: 0;
						}
					}

					.user-img {
						width: 40px;
						height: 40px;
						border-radius: 50%;
						margin-right: 10px;

						img {
							width: 100%;
							height: 100%;
							border-radius: 50%;
							object-fit: cover;
						}
					}

					.user-info {
						p {
							margin-bottom: 0;
						}
						.user-name {
							color: #464646;
							font-size: 13px;
							font-weight: 600;
						}
						.user-name-mobile {
							display: none;
							@include max-media(1000px) {
								display: block;
								width: 36px;
								height: 36px;
								background: #edf1f8;
								border-radius: 0.375rem;
								display: flex;
								justify-content: center;
								align-items: center;

								svg {
									width: 21px;
									color: #989898;
								}
							}
						}
						.user-position {
							font-size: 12px;
							font-weight: 400;
							color: #a5a5a5;
						}
					}
				}
			}
		}
	}
}
.shopping__cart {
	&-detail {
		position: relative;
		.count-notification-cart {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: $primary-color;
			-webkit-box-shadow: 0px 5px 20px #00000017;
			box-shadow: 0px 15px 20px rgba($color: #000000, $alpha: 0.16);
			// border: 3px solid white;
			span {
				padding: 3px;
				font-size: 11px;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: white;
				font-weight: bold;
			}
			position: absolute;
			top: -7px;
			right: -9px;
		}
	}
	&-cancel {
		display: inline-block;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
			color: $primary-color;
		}
	}
}
.user {
	cursor: pointer;
	padding-right: 0;
}
.user-wrap {
	display: flex;
	align-items: center;
	padding: 0px 0;
	@include max-media(1000px) {
		padding: 0;
	}
}

.user-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;

	img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
}

.menu__dropdown {
	background-color: #fff;
	border: solid 1px #d1d7dc;
	border-radius: 10px;
	padding: 20px 10px;
}

.user-info {
	p {
		margin-bottom: 0;
	}
	.user-name {
		color: #464646;
		font-size: 13px;
		font-weight: 600;
	}
	.user-name-mobile {
		display: none;
		@include max-media(1000px) {
			display: block;
			width: 36px;
			height: 36px;
			background: #edf1f8;
			border-radius: 0.375rem;
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				width: 21px;
				color: #989898;
			}
		}
	}
	.user-position {
		font-size: 12px;
		font-weight: 400;
		color: #a5a5a5;
	}
}
.shopping-wrap-all-content {
	height: 100vh;
	margin-top: 72px;
}
.cart-icon-title {
	margin-top: 32px;
	display: flex;
	gap: 16px;
	justify-content: flex-start;
	align-items: center;
	padding: 16px 24px;
	@include min-media(1600px) {
		width: 80%;
		margin: 0 auto;
	}
	span {
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		color: #333333;
	}
	img {
		width: 20px;
		height: 20px;
	}
}
.shopping__cart-body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 24px;

	.shopping__cart-content {
		width: 100%;
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 16px;
		justify-content: flex-start;
		align-items: flex-start;

		@include min-media(1600px) {
			width: 80%;
		}

		@include max-media(1300px) {
			grid-template-columns: 3fr 2fr;
		}

		@include max-media(800px) {
			grid-template-columns: 1fr;
		}

		.shopping__cart-items {
			background: #ffffff;
			border-radius: 8px;
			padding: 16px;
			box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 0.2);
			.cart__item {
				display: flex;
				align-items: center;

				@include max-media(1300px) {
					flex-direction: column;
				}

				&-left {
					display: flex;
					gap: 16px;
					align-items: center;
					justify-content: flex-start;
					width: 55%;

					@include max-media(1300px) {
						width: 100%;
					}
				}

				&-right {
					width: 100%;
					display: flex;
					gap: 16px;
					align-items: center;
					justify-content: space-between;
					width: 45%;

					@include max-media(1300px) {
						width: 100%;
						justify-content: flex-end;
					}
					@include max-media(510px) {
						width: 100%;
						justify-content: flex-end;
						align-items: flex-end;
						flex-direction: column;
					}
				}

				padding: 16px;
				margin-bottom: 16px;
				margin-right: 0 !important;
				margin-left: 0 !important;

				border: 0.5px solid #cccccc;
				box-shadow: inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.2);
				border-radius: 10px;

				&:last-child {
					border-bottom: none;
				}
				.price {
					text-align: right;
					p {
						margin: 0 !important;
						&:nth-child(1) {
							font-weight: 700;
							font-size: 24px;
							line-height: 40px;
							color: #0a89ff;
						}
						&:nth-child(2) {
							font-weight: 700;
							font-size: 20px;
							line-height: 20px;
							text-decoration-line: line-through;
							color: #999999;
						}
					}
				}

				.cart__item-detail {
					&-name {
						p {
							font-weight: 700;
							font-size: 24px;
							line-height: 40px;
							color: #333333;
						}
					}
					&-expire {
						p {
							font-weight: 400;
							font-size: 16px;
							line-height: 24px;
							color: #333333;
						}
					}
					.detail__hours {
						span:nth-child(1),
						span:nth-child(2),
						span:nth-child(3) {
							font-size: 13px;
						}
						span:nth-child(2),
						span:nth-child(3) {
							&::before {
								content: '\25CF';
								margin: 4px 4px;
								font-size: 6px;
							}
						}
					}
				}

				.cart__item-action,
				.cart__item-action-mobile {
					p {
						cursor: pointer;
						color: $primary-color;
						text-align: right;
						margin-bottom: 0;
						&:hover {
							color: $primary-hover;
						}
					}
					display: flex;
					align-items: center;
					.cart__item-quantity {
						display: flex;
						flex-direction: column;
						align-items: center;
						padding: 10px;
						gap: 10px;

						width: 44px;
						height: 44px;

						border: 1px solid #cccccc;
						border-radius: 8px;

						font-weight: 600;
						font-size: 16px;
						line-height: 24px;
						color: #333333;
					}
					.quantity-btn {
						cursor: pointer;
						transition: all 0.2s ease-in-out;
						display: flex;
						flex-direction: row;
						align-items: center;
						padding: 10px;
						gap: 10px;

						width: 44px;
						height: 44px;

						background: #f0f0f0;
						border-radius: 8px;

						img {
							width: 20px;
							height: 20px;
						}
						&-wrap {
							display: flex;
							align-items: center;
							justify-content: flex-start;
							gap: 4px;
						}
						&:hover {
							transform: scale(1.2);
							color: $primary-color;
						}
					}
				
				}
				.cart__item-action {
					@include max-media(1300px) {
						display: none;
					}
				}
				.cart__item-action-mobile {
					display: none;
					@include max-media(1300px) {
						display: inline-block;
					}
					@include max-media(510px) {
						display: flex;
					}
					.cart__item-remove {
						display: none;
						@include max-media(510px) {
							display: inline-block;
						}
					}
				}
				.cart__item-remove {
					width: 32px;
					@include max-media(510px) {
						display: none;
					}
					svg {
						cursor: pointer;
						&:hover {
							color: $primary-color;
						}
					}
				}
			}

			.cart__item:hover {
				border-color: $primary-color;
			}
		}
		.shopping__cart-total {
			background: #ffffff;
			border-radius: 8px;
			padding: 16px;
			box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 0.2);
			h4,
			p {
				font-weight: 300;
			}
			.price {
				display: flex;
				gap: 16px;
				justify-content: flex-start;
				align-items: flex-start;
				flex-direction: column;
				.price-item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					p {
						font-weight: 600;
						font-size: 16px;
						line-height: 24px;
						color: #333333;
						margin: 0 !important;
					}
					.price-red {
						color: #c94a4f;
					}
				}
				.horizontal {
					width: 100%;
					border-bottom: 1px solid #cccccc;
				}
			}
		}
	}
}

.checkout {
	width: 100%;
	padding-bottom: 50px;
	margin-top: 72px;

	.cart-icon-title {
		margin-top: 32px;
		display: flex;
		gap: 16px;
		justify-content: flex-start;
		align-items: center;
		padding: 16px 24px;
		width: 100%;
		@include min-media(1600px) {
			width: 80%;
			margin: 0 auto;
		}
		span {
			font-weight: 700;
			font-size: 20px;
			line-height: 28px;
			color: #333333;
		}
		img {
			width: 20px;
			height: 20px;
		}
	}

	.checkout-wrap-content {
		width: 100%;
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 16px;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0 auto;
		padding: 0 24px;

		@include min-media(1600px) {
			width: 80%;
		}

		@include max-media(1300px) {
			grid-template-columns: 3fr 2fr;
		}

		@include max-media(1000px) {
			grid-template-columns: 1fr;
		}

		.content {
			.card {
				background-color: #fff;
				box-shadow: 0px 15px 25px rgba($color: #000000, $alpha: 0.16);
				border-radius: 12px !important;
				padding: 16px;
			}

			.cancel-payment {
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				color: #c94a4f;
				margin-left: 24px;
				text-decoration: none;
			}

			.ant-radio-group.ant-radio-group-outline {
				width: 100%;
			}

			.horizontal {
				width: 100%;
				border-top: 1px solid #cccccc;
			}

			.payment-card,
			.paypal,
			.type-checkout {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 16px;
				gap: 16px;

				mix-blend-mode: normal;

				border: 0.5px solid #cccccc;
				box-shadow: inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.2);
				border-radius: 10px;
			}
			.payment-card {
				display: flex;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;
				transition: all 0.5s;
				margin-bottom: 16px;
				&:last-child {
					margin-bottom: 0;
				}

				&.checked {
					border: 1px solid #de3551;
				}

				&:hover {
					transform: scale(1.02);
					border: 1px solid #de3551;
				}

				&-left {
					display: flex;
					gap: 16px;
					align-items: center;
					img {
						width: 64px;
						height: 64px;
						border-radius: 8px;
					}
					p {
						font-weight: 700;
						font-size: 20px;
						line-height: 28px;
						color: #333333;
					}
				}
			}
			.payment-method {
				.card-info,
				.paypal-info {
					border: solid 1px #d1d7dc;
					border-radius: 8px;
					padding: 20px;

					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;

					.content {
						flex: 1;
					}

					.lock {
						font-size: 20px;
						color: rgb(121, 121, 121);
					}

					.text {
						color: rgb(121, 121, 121);
					}
				}
			}
			.order-detail {
				border: solid 1px #d1d7dc;
				border-radius: 8px;
				padding: 16px;
				margin: 16px 0;

				.course-item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-bottom: 1px solid #cccccc;
					padding: 16px;

					@include max-media(470px) {
						flex-direction: column;
						gap: 16px;
						padding: 0;
					}

					p {
						margin: 0 !important;
					}

					&:last-child {
						border-bottom: 0px solid #cccccc;
					}
					&:nth-child(1) {
						@include max-media(570px) {
							display: none;
						}
						.block-one {
							p {
								font-weight: 600;
								font-size: 16px;
								line-height: 24px;
								color: #333333;
								margin: 0 !important;
								text-align: center;
							}
						}
						.block-two {
							span {
								font-weight: 600;
								font-size: 16px;
								line-height: 24px;
								color: #333333;
								margin: 0 !important;
							}
						}
					}
					.block-one {
						width: 60%;
						@include max-media(530px) {
							width: 40%;
						}
						@include max-media(470px) {
							width: 100%;
						}
						img {
							width: 64px;
							height: 64px;
							border-radius: 8px;
							object-fit: cover;
							@include max-media(530px) {
								width: 120px;
								height: 120px;
							}
							@include max-media(470px) {
								width: 100%;
								height: 227px;
							}
						}
						display: flex;
						gap: 16px;
						align-items: center;
						.course-item-name {
							display: flex;
							flex-direction: column;
							@include max-media(530px) {
								display: none;
							}
							p {
								&:nth-child(1) {
									font-weight: 700;
									font-size: 16px;
									line-height: 24px;
									color: #333333;
								}
								&:nth-child(2) {
									font-weight: 400;
									font-size: 16px;
									line-height: 24px;
									color: #999999;
								}
							}
						}
					}
					.block-two {
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 40%;
					
						.course-item-name-mobile {
							@include min-media(530px) {
								display: none;
							}
							p {
								&:nth-child(1) {
									font-weight: 700;
									font-size: 16px;
									line-height: 24px;
									color: #333333;
								}
								&:nth-child(2) {
									font-weight: 400;
									font-size: 16px;
									line-height: 24px;
									color: #999999;
								}
							}
						}
						@include max-media(530px) {
							display: flex;
							align-items: flex-start;
							justify-content: space-between;
							flex-direction: column;
							width: 60%;
							height: 120px;
						}
						@include max-media(470px) {
							width: 100%;
						}
						span {
							font-weight: 700;
							font-size: 16px;
							line-height: 24px;
							color: #0a89ff;
						}
					}
				}
			}
		}
		.summary {
			.discount-code {
				display: flex;
				gap: 16px;
				align-items: center;
				.ant-input-affix-wrapper {
					padding: 0;
					padding: 4px;
					gap: 4px;

					background: #f0f0f0;

					border: 0.5px solid #cccccc;
					border-radius: 8px;
					.ant-input {
						background: #f0f0f0;
					}
				}
				button {
					width: 140px !important;
				}
			}
			.price-pre {
				h6 {
					font-weight: 400;
					font-size: 16px;
					line-height: 24px;
					color: #333333;
				}
				p {
					margin: 0 !important;
					font-weight: 700;
					font-size: 16px;
					line-height: 24px;
					color: #c94a4f;
				}
			}
			.price-after {
				h6 {
					font-weight: 700;
					font-size: 16px;
					line-height: 24px;
					color: #333333;
				}
				p {
					margin: 0 !important;
					font-weight: 700;
					font-size: 16px;
					line-height: 24px;
					color: #c94a4f;
				}
			}
			.summary-wrap {
				width: 100%;
				border: solid 1px #d1d7dc;
				border-radius: 12px;
				padding: 16px;
				height: auto;
				display: table;
				position: sticky;
				top: 2em;

				h4 {
					font-weight: 700;
					font-size: 24px;
					line-height: 40px;
					color: #333333;
				}
				.summary__price {
					border-bottom: solid 1px #d1d7dc;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.text-primary-heading {
	color: $primary-color;
}

.w-discount {
	max-height: 70vh;
	margin: 0 -20px 0 -7px;
	padding: 0 10px 0 7px;
	@include max-media(600px) {
		margin: 0 -10px 0 0px;
	}

	.ticket-wrap {
		min-height: 130px;
		margin: 15px auto;
		width: 100%;
		position: relative;
		z-index: 1;
		cursor: pointer;
	}

	.tkbg {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		display: flex;
		align-items: stretch;
		-webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
		filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.15));
		z-index: -1;
	}

	.tkbg .left-part {
		background-color: #fff;
		flex: 0.4;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	.tkbg .right-part {
		background-color: #fff;
		flex: 1;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
	}
	.tkbg .center-part {
		width: 25px;
		z-index: 2;
		background-color: #fff;
		margin: 15px 0;
	}

	.ticket-wrap:hover .left-part {
		background-color: rgb(242, 242, 242);
	}
	.ticket-wrap:hover .center-part {
		background-color: rgb(242, 242, 242);
	}
	.ticket-wrap:hover .right-part {
		background-color: rgb(242, 242, 242);
	}

	.tkbg .center-part:before {
		box-sizing: border-box;
		content: '';
		position: absolute;
		width: 45px;
		height: 45px;
		top: 0;
		border: 10px solid transparent;
		border-color: rgb(255, 255, 255);
		border-top-color: transparent;
		border-right-color: transparent;
		border-radius: 999px;
		pointer-events: none;
		transform: translate(-10px, -50%) rotate(-45deg);
	}
	.tkbg .center-part:after {
		box-sizing: border-box;
		content: '';
		position: absolute;
		width: 45px;
		height: 45px;
		bottom: 0;
		border: 10px solid transparent;
		border-color: #fff;
		border-top-color: transparent;
		border-right-color: transparent;
		border-radius: 999px;
		pointer-events: none;
		transform: translate(-10px, 50%) rotate(135deg);
	}
	.ticket-wrap:hover .tkbg .center-part:before {
		border-color: rgb(242, 242, 242);
		border-top-color: transparent;
		border-right-color: transparent;
	}
	.ticket-wrap:hover .tkbg .center-part:after {
		border-color: rgb(242, 242, 242);
		border-top-color: transparent;
		border-right-color: transparent;
	}

	.selected {
		background-color: #e8f5fc !important;
	}
	.selected-center {
		background-color: #e8f5fc !important;
	}
	.selected-center:after {
		border-color: #e8f5fc !important;
		border-top-color: transparent !important;
		border-right-color: transparent !important;
	}
	.selected-center:before {
		border-color: #e8f5fc !important;
		border-top-color: transparent !important;
		border-right-color: transparent !important;
	}

	.content {
		width: 100%;
		height: 130px !important;
		padding: 10px 15px 10px 15px;
		display: flex;
		flex-direction: row;
		align-items: center;

		.w-code {
			flex: 0.36;
			height: 100%;
			max-width: 110px;

			img {
				object-fit: cover;
			}
		}
		.main {
			flex: 1;
			height: 100%;
			margin-left: 45px;
			display: flex;
			flex-direction: row;
			align-items: flex-end;

			.info {
				flex: 1;
				height: 100%;
				display: flex;
				flex-direction: column;
			}
			.main-info {
				flex: 1;
			}
			.status {
				text-align: right;

				img {
					width: 80px;
					height: 80px;
				}

				.water-mark {
					transform: rotate(-15deg);
					margin-right: 10px;
					opacity: 0.5;
					.around {
						width: 60px;
						height: 60px;
						border-width: 2px;
						border-style: solid;
						border-radius: 999px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-color: #8e8e93;

						.inner {
							width: 80px;
							height: 40px;
							margin-left: -15px;
							margin-right: -15px;
							background-color: #fff;
							border-width: 2px;
							border-style: solid;
							border-radius: 4px;
							border-color: #8e8e93;

							font-size: 12px;
							display: flex;
							align-items: center;
							flex-direction: column;
							justify-content: center;

							.text {
								margin-top: 2px;
								border-color: #8e8e93;
							}
							.xaoo {
								margin-top: -2px;
							}
						}
					}
				}
			}
		}
	}
}
