$blue: #1986da;
$black: #0D0D0D;
$black-light: #333333;
$light-blue: #f2f8fc;
$normal-blue: #4cbbb9;
$orange: #ff7c38;
$white: white;
$red: #C94A4F;

$border-primary: 1px solid #eaeaea;
$primary-color: #333333;
$button-color: #DE3551;
$primary-hover: #c4203b;
$color-success: #0da779;

$primary-text: #2d2d2d;

$fs-12: 1.2vw;

// text-invoice
$text-mute: #bfbfcb;
$text-primary: #3f4254;
$text-report: #162b5b;

// LOADING
$color-1: #DE3551;
$color-2: #d12c47;
$color-3: #fa516d;