@import 'variables';
@import 'mixins';
@import './fontawesome/css/all.css';
@import './fonts/Noir/font.css';
@import './components/header';
@import './components/menu';
@import './components/main';
@import './components/score-input';
@import './pages/success-paypal';
@import './pages/fail-paypal';
@import './pages/dashboard';
@import './pages/course-map-detail';
@import './pages/create-course';
@import './pages/course-list';
@import './pages/confirm-paypal';
@import './pages/transcript';
@import './pages/course-buy';
@import './pages/manage-task';
@import './pages/profile';
@import './pages/feedback-list';
@import './pages/package-list';
@import './pages/package-create';
@import './pages/package-set';
@import './pages/package-examiner';
@import './pages/doing-test';
@import './pages/layoutTags';
@import './pages/question-bank';
@import './pages/quiz';
@import './pages/schedule-study';
@import './pages/zoom-internal';
@import './pages/exam';
@import './pages/finance';
@import './pages/day-off-schedule';
@import './pages/voucher-invoice';
@import './pages/sales-campaign';
@import './pages/reset-password';
@import './pages/faq';
@import './pages/reset-password';
@import './pages/teacher';
@import './pages/zoom';
@import './pages/done-test';
@import './pages/rank';
@import './pages/document-list';
@import './pages/shopping-cart';
@import './pages/success';
@import './pages/products';
@import './pages/dev';
@import './components/expandbox';
@import './components/color-base';
@import './components/editor';
@import './components/chart';
@import './components/elements';
@import './components/expandbox';
@import './components/color-base';
@import './components/editor';
@import './components/newsfeed';
@import './components/document';
@import './components/loading-layout';
@import './components/table';
@import './pages/video-learning';
@import './pages/video-learning-x';
@import './pages/video-course-list';
@import './pages/video-course-store';
@import './pages/modal-curriculum-details';
@import './pages/student-feed-back';
@import './components/calendar';
@import './components/animations';
@import './pages/pick-teacher';
@import './pages/main';
