$primary-color: #de3551;

.wrapper {
	display: flex;
	background-repeat: no-repeat;
	background-position: left;
	align-items: stretch;
	flex-wrap: wrap !important;
	background: #fff;

	/* width */
	::-webkit-scrollbar {
		width: 5px;
		background-color: #f5f5f5;
	}

	/* Track */
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px rgb(216, 216, 216);
		border-radius: 10px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background-color: rgb(202, 202, 202);
		border-radius: 10px;
	}
}

.image-wrapper {
	background-image: linear-gradient(180deg, #e32040 0%, #f65867 100%);

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 100vh;

	.calendar-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		text-align: center;
		font-weight: bold;

		.image {
			width: auto;
			position: fixed;
		}

		.calendar {
			color: white;
			z-index: 99;
		}

		.month_year {
			font-size: 62px;
		}

		.date {
			color: $primary-color;
			font-size: 80px;
			line-height: 1;
			margin-bottom: 35px;
			background: #fff;
			border-radius: 12px;
			padding-left: 5px;
			padding-right: 5px;
		}

		.time {
			font-size: 52px;
			background: white;
			padding: 0 20px;
			display: inline-block;
			border-radius: 15px;
			color: $primary-color;
		}

		.slogan {
			font-style: italic;
			text-align: center;
			margin-top: 40px;
			font-size: 16px;
			font-weight: 400;
			color: #fff !important;
		}
	}
}

.content {
	background: white;
	height: 100vh;
	position: relative;
	z-index: 9999;
	flex-basis: 720px;
	flex-grow: 0;
	overflow-x: hidden;
	position: relative;
	flex: 1;
	top: 0;
	right: 0;
}

.footer {
	background: #282828;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 80px;
	padding-right: 80px;
	z-index: 9999;

	position: fixed;
	left: 0;
	bottom: 0;
	width: 105vw;

	&__left {
		margin: 0 auto;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 1439px) {
	.content {
		width: 600px;
	}
}

@media screen and(max-width: 991px) {
	.wrapper {
		flex-direction: column-reverse;
	}

	.content {
		width: 100%;
		padding: 0;
		order: 1;
		max-width: unset;
	}

	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-transform: uppercase;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 50px;
		padding-right: 50px;
		z-index: 9999;

		&__left {
			margin: 0 auto;
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
